@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Digital-7';
    src: url('./assets/fonts/Digital-7.ttf') format('truetype');
}

.glow-on-hover {
    transition: color 0.3s ease;
    position: relative;
}

.glow-on-hover:hover {
    color: #fff; /* Optional: change text color on hover */
    text-shadow:
        0 0 5px #fff, /* white glow */
        0 0 10px #fff, /* more white glow */
        0 0 15px #f1c40f, /* yellow glow */
        0 0 20px #f1c40f, /* more yellow glow */
        0 0 25px #f1c40f, /* even more yellow glow */
        0 0 30px #f1c40f, /* maximum yellow glow */
        0 0 35px #f1c40f; /* extreme yellow glow */
}


